<h2 align="center" style="color: red;">Benefits</h2>
<p align="left">
  After clicking on the "Maintain Monthly Benefits" button on the left menu,
  you will be returned a listing of all employees and deposit information for the current month:
</p>
<p align="center">
  <img border="2" src="/assets/help_screen_shots/benefits_list.jpg" alt="login" />
</p>
<p align="left">
  The employees are listed in a table, with the following columns:<ul>
  <li>Emp ID - the employee ID number (the order of the listing).</li>
  <li>Last Name - the employee's Last Name.</li>
  <li>First Name - the employee's First Name.</li>
  <li>MI - the employee's Middle Initial.</li>
  <li>Current Hours - the up to date total current hours for the month.</li>
  <li>Current Benefit - the current benefits of the employee, based upon the current month's benefits package.</li>
  <li>Required Benefit - the required benefits per Davis Bacon.</li>
  <li>Current Deposits made - Sum of all deposits made for the month.</li>
  <li>Current Deposit - the calculated deposit for the month, yet to be made.</li>
  <li>Pending Deposits Applied - the sum of all pending deposits selected to be applied</li>
  <li>Total Deposit - the sum of the calculated deposit for the month plus the sum of all selected pending deposits</li>
  </ul>
</p>
<p align="left">
  The "Actions" that are available for each employee will normally be:<ul>
  <li>Edit - Edit the Current Benefit</li>
  <li>List - List the Current Benefits for the month</li>
  <li>Employee - Edit the Employee record (and Benefit Package).</li>
  </ul>
  If however, an employee does not have any Benefit Packages for the current month,
  the options available will be limited to:<ul>
  <li>Employee - Edit the Employee record (and Benefit Package).</li>
  <li>New Package - Create a new Benefit Package.</li>
  </ul>
</p>
<p align="left">
  You will notice that in the upper left hand corner of the page, there is a dropdown
  box containing "Current Deposit".  By default, the Employee Benefits listing will list
  the amounts that have not been deposited yet for the Current Accounting Month.  If there
  have been any deposits for the current month, the dropdown will list them.  By changing
  the dropdown to any particular deposit, the detail amounts for the page (Current Deposit,
  Pending Deposits Applied, and the total Deposit column will reflect the information for
  the chosen deposit.
</p>
<p align="left">
  If there have been changes to the benefit package for an employee, then you will see
  the error similar to the one displayed on the following screenshot:
</p>
<p align="left">
  <img border="2" src="/assets/help_screen_shots/benefit_list_oob.jpg" alt="login" />
</p>
<p align="left">
  Also at the bottom of the page you will see something like the following screenshot:
</p>
<p align="left">
  <img border="2" src="/assets/help_screen_shots/benefit_edit_oob2.jpg" alt="login" />
</p>
<p align="left">
  When there is an error in the Employee Benefits Listing, the programming has detected
  a benefit entry with a benefit package change.  Since the program will not automatically
  generate any dollar amount changes, you must edit the benefit, and update it so that it
  will have updated benefit calculations.
</p>
<p align="left">
  When you click on the "Edit" button for an employee benefit, you will see a screen that
  looks something like what is on the following screenshot:
</p>
<p align="left">
  <img border="2" src="/assets/help_screen_shots/benefit_edit_oob.jpg" alt="login" />
</p>
<p align="left">
  When you are in the benefit edit screen, you may make changes to the hours fields, as
  well as the required benefit field.  These fields are used to calculate the required
  Davis Bacon Benefit deposit amount (after reducing what the employee's current benefit
  is).  The error displays and the calculation amounts will not be updated until the update
  button is pressed.  Once the database has been updated with the new field values, the
  new page will do the recalculations, and will update the error display.  When all looks
  correct, either pressing the list button at the bottom, or pressing the "Maintain Monthly
  Benefits" button in the left menu, will bring you back to the "Employee Benefits Listing"
  page.
</p>
<p align="left">
  Because the "Employee Benefits Listing" page lists the total undeposited amounts for all
  employees for the current month, the totals at the bottom of the page (when looking at the
  "Current Deposit") will reflect the total required deposit.  If there are no errors in the
  deposits listed, then at the right hand side of the Totals line will be a link to record
  the deposit for all employee amounts listed above (i.e. create a deposit for all employee
  amounts, that are totaled at the bottom).  See screenshot below:
</p>
<p align="left">
  <img border="2" src="/assets/help_screen_shots/benefit_list_make_deposit.jpg" alt="login" />
</p>
<p align="left">
  When the "Make Deposit" button is pressed, a confirmation dialog box will pop up, to confirm
  that you want to make the deposit:
</p>
<p align="left">
  <img border="2" src="/assets/help_screen_shots/benefit_list_deposit_ok.jpg" alt="login" />
</p>
<p align="left">
  After pressing the OK button, all of the items in the current deposit will now be added to
  the "Current Deposits Made" column.  Additionally, the "Make Deposit" button will be no
  longer available until there are deposit items to be made:
</p>
<p align="left">
  <img border="2" src="/assets/help_screen_shots/benefit_list_deposit_ok_after.jpg" alt="login" />
</p>
<p align="left">
  When a retroactive change to an Employee Benefit Package has been made, a series of undeposited
  entries will exist for the effected months.  After each of the particular benefits has been reviewed
  and updated, the "Editing Employee Benefits" page will list each of the undeposited entries for other
  months in the "Pending Deposits" section of the page.  The Page will look something like the following
  screen shot:
</p>
<p align="left">
  <img border="2" src="/assets/help_screen_shots/benefit_edit_pending.jpg" alt="login" />
</p>
<p align="left">
  After clicking on the checkbox for all pending deposits that should be applied to the current month and
  hitting the "Update" button, the Page will look something like the following
  screen shot:
</p>
<p align="left">
  <img border="2" src="/assets/help_screen_shots/benefit_edit_pending_updated.jpg" alt="login" />
</p>
<p align="left">
  Note: Normally a deposit for an employee will not be negative.
</p>
