<h2 align="center" style="color: red;">Logging In</h2>
<p align="left">
	To log into the Controlled Air Employee Benefits System, you will first need to obtain a username and password from an Administrator.
</p>
<p align="left">
	Navigate to the Employee Benefits Intranet Website <a href="http://sbsdc01:4001/" title="Controlled Air Employee Benefits" target="_blank">http://sbsdc01:4001/</a>. You should see something like the following screenshot:
</p>
<p align="left">
	<img border="2" src="/images/ca_screen_shots/ca_login.jpg" alt="login" width="568" height="293" />
</p>
<p align="left">
	If you have logged in successfully, you should see something like the following screenshot:
</p>
<p align="left">
	<img border="2" src="/images/ca_screen_shots/ca_logged_in.jpg" alt="Logged In" width="549" height="363" />
</p>
