<h2 align="center" style="color: red;">Reports</h2>
<p align="left">
  There are three reports available for the Benefits system, as shown in the following screenshot:
</p>
<p align="left">
  <img border="2" src="/images/ca_screen_shots/ca_reports.jpg" alt="login"/>
</p>
<p align="left">
  Note: All of the pages in the "Reports" section are using a page template that do not show the menu items
  on the left.  This is done in order to provide a report printout without the menus showing.
  At the bottom of all reports pages there is a "Print" link to print the current web page (without the menu items).
  To get the menu items on the left from a reports page, click on the "Menu" link at the bottom of the page,
  which will bring you back to the reports page (with the left menu items displayed).
</p>
<h3 align="center" style="color: red;">Reports - Employee Master Listing</h3>
<p align="left">
  Clicking on the "Employee Master Listing" report will produce the report directly.  There will
  be one listing per employee, which will display the effective employee benefit for the current
  accounting period for each employee.
</p>
<p align="left">
  <img border="2" src="/images/ca_screen_shots/ca_report_emp_master.jpg" alt="login"/>
</p>
<h3 align="center" style="color: red;">Reports - Data Entry Reconciliation</h3>
<p align="left">
  When you click on the "Data Entry Reconciliation" link in the "Reports" menu, you will be
  presented with the "Generate Entry Reconciliation Report" options selection screen:
</p>
<p align="left">
  <img border="2" src="/images/ca_screen_shots/ca_report_reconcil_options.jpg" alt="login"/>
</p>
<p align="left">
  Select the starting and ending months for the report and click on the "Generate Report" button,
  and you will see the report that lists the hours and
  required Davis Bacon Benefit Amounts that have been entered for all employees for the chosen period.
</p>
<p align="left">
  <img border="2" src="/images/ca_screen_shots/ca_report_reconcil_rpt.jpg" alt="login"/>
</p>
<h3 align="center" style="color: red;">Reports - Deposit Reconciliation</h3>
<p align="left">
  When you click on the "Deposit Reconciliation" link in the "Reports" menu, you will be
  presented with the "Generate Deposit Reconciliation Report" page.
</p>
<p align="left">
  <img border="2" src="/images/ca_screen_shots/ca_report_deposit_options.jpg" alt="login"/>
</p>
<p align="left">
  Select the starting and ending deposits for the report and click on the "Generate Report" button,
  and you will see a report similar to the following screenshot:
</p>
<p align="left">
  <img border="2" src="/images/ca_screen_shots/ca_report_deposit_rpt.jpg" alt="login"/>
</p>
<p align="left">
  The report lists the total Current Benefit that Controlled Air provides at the time of the deposit,
  the total Required Benefit from Davis Bacon system at the time of the deposit, as well as the
  deposited amount that was required to bring the Current Benefit up to the Required Benefit (adjusted
  for the deposits already made for the month).
</p>
