<h2 align="center" style="color: red;">User Maintenance (Supervisors only)</h2>
<p align="left">
  The maintenance of users that may login to the Benefits system are available by clicking
  on the "Maintain System Users" menu item, that is in the left menu items for users with the
  Supervisor flag checked.  After clicking on the "Maintain System Users" menu item, you should
  see a user listing page similar to the following screen shot:
</p>
<p align="left">
  <img border="2" src="/assets/help_screen_shots/users_list.jpg" alt="login" />
</p>
<h3 align="center" style="color: red;">Users - Edit</h3>
<p align="left">
  If you click on the edit button, you should see something like the following screenshot:
</p>
<p align="left">
  <img border="2" src="/assets/help_screen_shots/users_edit.jpg" alt="Logged In" />
</p>
<p align="left">
  The username must be a unique identifier for the user.
  If both password fields are left blank, the password field will not be updated.
  If you wish the user to be able to maintain users, then select "True" for "Supervisor".
  Selecting True for deactivated will prevent the user from logging in to the system.
  When all changes are made, click the "Save" button.
</p>
<h3 align="center" style="color: red;">Users - Deactivate</h3>
<p align="left">
  If you click on the deactivate button, you get a dialog box like the following screenshot:
</p>
<p align="left">
  <img border="2" src="/assets/help_screen_shots/users_deactivate_ok.jpg" alt="Logged In" />
</p>
<p align="left">
  After clicking OK, the user will be deactivated, and placed at the end of the user list.
  You should see a screen something like the following screenshot:
</p>
<p align="left">
  <img border="2" src="/assets/help_screen_shots/users_deactivated.jpg" alt="Logged In" />
</p>
<h3 align="center" style="color: red;">Users - New</h3>
<p align="left">
  If you click on the "New" link, you New User page that looks like the following screenshot:
</p>
<p align="left">
  <img border="2" src="/assets/help_screen_shots/users_new.jpg" alt="Logged In" />
</p>
<p align="left">
  After clicking OK, the user will be listed the user list.
  You should see a screen something like the following screenshot:
</p>
<p align="left">
  <img border="2" src="/assets/help_screen_shots/users_new_created.jpg" alt="Logged In" />
</p>
